<h2>Open Orders</h2>
<table>
  <tr>
    <th>Order Id</th>
    <th>Product
    <th>Price
    <th>Customer</th>
  </tr>
  <% @orders.each do |order| %>
    <% order.products.each do |product| %>
  <%= render (@orders) || "You have an empty order!"%>
</table>
